[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
troposphere = ">=2.0.0,<2.1.0"
sceptre = "==2.0.2"
ipython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
